extends layout

block content
  body
    .container
      nav
        dl
          dt#all_todos.selected All Todos
          dd
            .circle 4
          each todo in todos
            if todo.month && todo.year
              dt #{todo.month}/#{todo.year.slice(-2)}
            else
              dt undefined
            dd
              .circle 1
        dl
          h1
            dt#completed Completed
            dd
              .circle 2
          each todo in todos
            if todo.month && todo.year
              dt #{todo.month}/#{todo.year.slice(-2)}
            else
              dt undefined
            dd
              .circle 1     
      main
        h1 
          div Todos
          .circle 4
        #add
          a(href="#") Add new todo
        table
          each todo in todos
            tr
              if todo.month && todo.year
                td.todo_description #{todo.title} - #{todo.month}/#{todo.year.slice(-2)}
              else
                td.todo_description #{todo.title} - undefined
              td#delete 
                img(src='/images/garbage.png')

    #overlay