{{#if quantity}}
<ul>
  {{#each cart_items}}
  <li>
    <figure>
      <img src="{{image}}" data-id="{{id}}">
    </figure>
    <figcaption>
      {{quantity}} x {{price}}
    </figcaption>
  </li>
  {{/each}}
</ul>
<div class="cart_summary">
  <p>Your<br>Shopping Cart</p>
  <p>${{format_price total}}</p>
  <a href="#" class="empty">Empty Cart</a>
  <a href="/checkout"><span>Checkout</div></a>
</div>
{{/if}}