<div id="food_item">
  <div class="previous">
  </div>
  <div>
    <img src="{{image}}" />
    <div>
      <h2>{{title}}</h2>
      <p>{{description}}</p>
      <div>
        <div>{{price}}</div>
        <button type="submit">Add to Cart</button>
      </div>
    </div>
    <table>
      <th colspan="2">Nutritiional Information</th>
      {{#each nutrition}}
      <tr>
        <td>{{@key}}</td>
        <td>{{this}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
  <div class="next">
  </div>    
</div>    