<div class="card_activities">
  <div class="activities_header">
    <i class="icon-activity"></i><h3>Activity</h3>
  </div>
  <div class="all_activities">
   {{#if activities}}
   {{#each activities}}
      {{#ifComment activities.action value="comment"}}
      <div>
        <p><span class="member-initials"><strong>{{this.user}}</strong> on {{this.list}}</p>
        <div class="posted_comment_content">{{this.title}}</div>
        <p class="timestamp"> on {{this.timestamp}}</p>
      </div>
      <hr>          
      {{else}}
      <div>
        <span class="member-initials"></span><span><strong>{{this.user}}</strong><span> {{this.action}} this card to {{this.list}} on <span class="timestamp">{{this.timestamp}}</span>
      </div>
      <hr>
      {{/ifComment}}
    {{/each}}
  {{/if}}
  </div>
</div> 