<div class="card_activities">
  <h3>Activity</h3><a href="">Hide Details</a>
   {{#if activities}}
   {{#each activities}}
      {{#ifComment activities.action value="comment"}}
      <div>
        <p><strong>{{this.user}}</strong></p>
        <div class="posted_comment_content">{{this.title}}</div>
        <span>{{this.timestamp}}</span>
      </div>
      <hr>          
      {{else}}
      <div>
        <p><strong>{{this.user}}</strong> {{this.action}} this card to {{this.list}} at <span>{{this.timestamp}}</span></p>
      </div>
      <hr>
      {{/ifComment}}
    {{/each}}
  {{/if}}
</div> 