<div class="wrapper edit_card_menu_wrapper">
  <div class="card_content_header">
    <div class="card_title_info">
      <div class="card_title_placeholder">
        <h3>{{title}}</h3>
      </div>
      <div class="invisible new_card_title_input">
        <input type="text" id="new_card_name" name="new_card_name" autofocus spellcheck="false" dir="auto" maxlength="512" value="{{title}}" style="overflow: hidden; word-wrap: break-word; height: 24px;">
      </div>
    </div>
    <div>
      <i class="icon-cancel"></i>
      <p>in list <a href="">{{list_title}}</a></p>
    </div>
  </div>
  <div class="card_content">
    {{#if labels}}
      <p>Labels</p>
      <div class="card_item_labels_display">
    {{#each labels}}
      <span class="label_{{this.color}}"></span>
    {{/each}}
      </div>
    {{/if}}    
    <div class="card_description">
      {{#if description}}
      <p>Description
        <a href="" class="edit_card_description">
          <span>Edit</span>
        </a>
      </p>
      <p class="card_description_text">{{description}}</p>    
      {{else}}
        <a href="" class="edit_card_description">
          <span>Edit the description...</span>
        </a>      
      {{/if}}
    </div>
    <div class="invisible edit_card_description_popover">
      <p>Description</p>
      <form autocomplete="off" method="" action="">
        <textarea class="card_description_input" style="overflow: hidden; word-wrap: break-word; resize: none; height: 108px;">{{description}}</textarea>
        <a href="" class="add_description submit_info_button">Save</a>
        <a href="" class="cancel_submission close_card_edit_description">X</a>
      </form>
    </div>
    <div class="card_comments">
      <h3>Add Comment</h3>
      <form autocomplete="off">
        <textarea placeholder="Write a comment..." class="comment_input"></textarea>
        <div class="send_comment_wrapper"><div class="send_comment submit_info_button">Send</div></div>
      </form>
    </div>  
    <div class="card_activities">
      <h3>Activity</h3><a href="">Hide Details</a>
       {{#if activities}}
       {{#each activities}}
        <p>{{username}}{{verb}}this card to {{list}}</p>
        <hr>
        {{/each}}
      {{/if}}
    </div> 
  </div>
  <div class="card_action_menu">
    <div class="card_add_menu">
      <h3>Add</h3>
<!--       <a href="#" class="menu_button"><div class="members">Members</div></a> -->
      <div class="menu_button labels">Labels</div>
      <div class="edit_card_popup wrapper label_menu invisible">
        <h5>Labels</h5><i class="icon-close"></i>
        <hr>
      <!--   <input type="text" placeholder="Search labels..." name="search_labels" id="card_search_labels"> -->
        <ul>
          <li><span class="card_label label_green">{{label_green_text}}</span></li>
          <li><span class="card_label label_yellow">{{label_yellow_text}}</span></li>
          <li><span class="card_label label_orange">{{label_orange_text}}</span></li>
          <li><span class="card_label label_red">{{label_red_text}}</span></li>
          <li><span class="card_label label_purple">{{label_purple_text}}</span></li>
          <li><span class="card_label label_blue">{{label_blue_text}}</span></li>
        </ul>
      </div>      
      <div class="menu_button checklist">Checklist</div>
      <div class="edit_card_popup wrapper label_menu invisible">
        <h5>Add Checklist</h5>
        <form name="add_checklist" autocomplete="off">
          <label for="checklist_title_input">Title
            <input type="text" placeholder="Checklist" name="checklist_title_input">
          </label>
          <a href=""><div class="submit_info_button add_checklist">Add</div></a>
        </form>
      </div>
      <div class="menu_button due_date">Due Date</div>   
<!--       <a href="#" class="menu_button"><div class="attachment">Attachment</div></a> -->
    </div>
    <div class="card_actions_menu">
      <h3>Actions</h3>
      <div class="menu_button move_card">Move</div>
      <div class="menu_button label_card">Copy</div> 
      <div class="menu_button subscribe_card">Subscribe</div>
      <div class="menu_button archive_card">Archive</div>      
      <a href="#">Share and more...</a>             
    </div>
  </div>
</div>

