<div class="move_card_popup card_menu_popup">
  <h5>Move Card</h5><i class="icon-close"></i>
  <hr>
    <div class="all_lists_dropdown_placeholder setting menu_button">
      <span class="label">List</span>
      <span class="value">{{list}}</span>
        <!-- <label>List</label> -->
      <select class="list_select_options" name="list_select_options">
        {{#lists}}
        <option value="{{id}}">{{title}}</option>
        {{/lists}}
      </select>
    </div>
    <div class="all_positions_dropdown_placeholder setting menu_button">
      <span class="label">Position</span>
      <span class="value">{{position}}</span>
<!--         <label>Position</label>   -->  
      <select class="position_select_options" name="position_select_options">
        {{#cards}}
        <option value="{{id}}">{{@index}}</option>
        {{/cards}}
      </select>      
    </div>
    <div class="submit_info_button selected move_submission">
      Move
    </div>        
  </div>
</div>

